---
import Layout from '../layouts/About.astro';
---

<Layout
	title="About Me"
	description="Marco Antonio Gonzalez Junior"
	pubDate={new Date('July 15 1977')}
	heroImage="/marco.jpg"
>
	<p>
		I built this blog in less than 30 minutes.
	</p>
</Layout>

<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	.hero-image {
		width: 40%;
		padding: 30%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
</style>